GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcs-bucket-name
BIGQUERY_DATASET=raw
DBT_DATASET=dbt_brewery
BIGQUERY_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=./gcp-credentials.json
AIRFLOW_UID=50000
AIRFLOW_FAILURE_EMAIL=your-email@example.com
