GCP_PROJECT_ID=your-project-id
GCS_BUCKET_NAME=your-bucket-name
BIGQUERY_DATASET=raw
DBT_DATASET=dbt_brewery
BIGQUERY_LOCATION=US
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json
AIRFLOW_UID=50000
AIRFLOW_FAILURE_EMAIL=alerts@example.com
