.env
gcp-credentials.json
gcp-key.json
*.json
!great_expectations/expectations/*.json
service-account*.json

# python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
venv/
.venv/

# airflow
logs/
airflow_home/
plugins/

# dbt
dbt_project/.user.yml
dbt_project/target/
dbt_project/dbt_packages/

# great expectations
great_expectations/uncommitted/
